<mat-toolbar color="primary">
  Angular 12 CRUD API Fake
</mat-toolbar>
<mat-list id="create">
  <div mat-subheader>Adcionar item</div>
  <mat-list-item>
    <form [formGroup]="itemForm" (ngSubmit)="create()">
      <mat-form-field appearance="fill">
        <mat-label>Nome</mat-label>
        <input matInput id="nome" name="nome" formControlName="nome" placeholder="nome" required>
      </mat-form-field>
      <button mat-raised-button type="submit" [disabled]="!itemForm.valid" style="margin-left: 16px;" color="primary">
        Adicionar
      </button>
    </form>
  </mat-list-item>
</mat-list>
<mat-list id="lista" *ngIf="itens.length > 0;else carregando">
  <div mat-subheader>Meus itens</div>
  <mat-list-item *ngFor="let item of itens; let i = index">
    <input matInput type="text" [(ngModel)]="item.nome">
    <!-- <mat-icon mat-list-icon (click)="onSelect(item)">edit</mat-icon> -->
    <button mat-icon-button (click)="delete(i)">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-list-item>
  <mat-list-item>
    Total: {{itens.length}}
  </mat-list-item>
</mat-list>
<ng-template #carregando>
  <mat-spinner style="margin: 48px auto"></mat-spinner>
</ng-template>